.App {
  box-sizing: border-box;
  padding-left: 2em;
  padding-right: 2em;
}

.left {
  width: 200px;
  float: left;
}

.right {
  margin-left: 220px;
}

@media only screen and (max-width: 768px) {
  .left {
    width: 100%;
    float: none
  }

  .right {
    margin-left: 0;
  }
}

.clear {
  clear: both;
}

.loading {
  margin: 2rem auto 2rem auto;
  text-align: center;
  font-weight: bold;
}

.loading .spinner {
  animation: spinner-spin infinite 10s linear;
  margin: 26px 0 26px 0;
}

@keyframes spinner-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.error {
  width: 75%;
  margin: 1rem auto 1rem auto;
  padding: 1rem;
  border: solid 1px #ebccd1;
  border-radius: 4px;
  color: #a94442;
  background-color: #f2dede;
}
