
.Filter {
    text-align: left;
    margin-bottom: 1rem;
}

.Filter label {
    display: block;
    font-size: 14px;
    font-stretch: 100%;
    font-weight: bold;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.Filter select {
    width: 100%;
}

.SearchFilters {
}

.search-btn input {
    width: 100%;
}
