.result-count::before, .result-count::after {
  content: "\2014";
}

.result-count {
  font-size: 12px;
  text-align: center;
  font-style: italic;
}

.Result {
  box-sizing: border-box;
  border-bottom: 1px solid #dbeaf1;
  overflow: auto;
  padding-bottom: 1rem;
}

.Result p {
  margin-bottom: 0;
}

.Result h3 {
  clear: both;
}

.Result .image {
  float: left;
  width: 180px;
}

.Result .image img {
  width: 100%;
}

.Result hr {
  width: 75%;
}

.Result .details, .Result h3 {
  margin-left: 200px;
}

.badge {
  background-color: rgb(112, 112, 112);
  color: white;
  font-size: 10pt;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.5rem 5px 0;
  padding: 5px 15px 5px 15px;
  text-transform: uppercase;
}

.label {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {
  .Result .image {
    float: none;
    width: 100%;
  }

  .Result .details, .Result h3 {
    margin-left: 0;
  }
}

